.App{
   /* Opera y Navegadores basados en Webkit*/
   background: -prefix-linear-gradient(right, #A2D4DF, #528C83, #DDDDE2);
  /*(IE 10 y Firefox 10 en adelante)*/
  background: linear-gradient(to right, #A2D4DF, #528C83, #DDDDE2) !important;
}
/*Top-Bottom*/
/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) {
    video{
        top: 55%;
        height: 94vh;
    }
}
 
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
    video{
        top: 43%;
        height: 80vh;
        width: 100vw;
    }
}
 
/* Móviles en vertical */
@media (max-width: 480px) {
    video{
        top:38%;
        height: 60vh;
    }
}