*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  animation: ease-in;
}

.App::after{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  position: relative;
  z-index: 2;
}

.page-heading h1{
  font-size: 5rem;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  border-radius: 2px;
}


.list-group{
  width: 90%;
  margin: auto;
}

.products{
  margin: auto;
  width: 50%;
  border: 3px solid #fff;
  padding: 50px;
  margin-top: 5%;
  color: #fff;
}

#prods{
  overflow: scroll;
  overflow: hidden;
}

.container{
  max-width: none !important;
   /*Opera y Navegadores basados en Webkit*/
   background: -prefix-linear-gradient(right, #A2D4DF, #528C83, #DDDDE2);
   /*(IE 10 y Firefox 10 en adelante)*/
   background: linear-gradient(to right, #A2D4DF, #528C83, #DDDDE2);
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.app-wrapper{
  background-color: #FCFBFD;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.title{
  color: linear-gradient(to right, #A2D4DF, #528C83, #DDDDE2);
  text-align: center;
  margin: 80px 0px 40px 0px;
}

.error{
  color: red;
}

.submit{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: #FCFBFD;
  padding: 10px 60px;
  /*Opera y Navegadores basados en Webkit*/
  background: -prefix-linear-gradient(right, #A2D4DF, #528C83, #DDDDE2);
  /*(IE 10 y Firefox 10 en adelante)*/
  background: linear-gradient(to right, #A2D4DF, #528C83, #DDDDE2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border:none;
  cursor: pointer;
  transition: all 0.1s;
}

button:active{
  transform: translateY(2px);
}

.form-success{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: gray;
}

#consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #DDDDE2;
  border: 1px solid #000;
  color:#000;
  transition: opacity .8s ease;
  z-index: 10000;
}

#consent-popup.hidden{
  opacity: 0;
}

footer {
  margin: 0 0 3em 0;
}

  footer > :last-child {
    margin-bottom: 0;
  }

  footer.major {
    padding-top: 3em;
  }

  #footer {
    background-color: #528C83;
    color: #fff;
		padding: 4em 0 8em 0;
	}

		#footer a {
			color: inherit;
			border-bottom-color: rgba(71, 71, 71, 0.25);
		}

			#footer a:hover {
				/* color: #A87F2A; */
				border-bottom-color: transparent;
			}

		#footer .container {
      background: none;
			margin-bottom: 4em;
      min-height: 0;
		}

		#footer .icons {
			text-align: center;
			margin: 0;
		}

			#footer .icons a {
				color: #999;
			}

				#footer .icons a:hover {
					color: #474747;
				}

		#footer .copyright {
			color: #999;
			margin-top: 1.5em;
			text-align: center;
			font-size: 0.9em;
		}

@media screen and (max-width: 1280px) {

  /* Footer */

    #footer {
      padding: 3em 0 3em 0;
    }

      #footer .container {
        margin-bottom: 1em;
      }
  
}

@media screen and (max-width: 840px) {

  /* Footer */

    #footer {
      text-align: center;
    }

      #footer .container {
        margin-bottom: 4em;
      }

      #footer form .actions {
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
      }

        #footer form .actions li:first-child {
          padding-left: 0;
        }
}

@media screen and (max-width: 480px) {

  /* Footer */

    #footer {
      padding: 2em 20px;
      text-align: left;
    }

}
